.about {
    padding: 60px 0;

    @extend %bg-snow;

    .container {
        position: relative;
    }

    &__body {
        position: relative;
        display: flex;
        height: 528px;
        border-radius: 20px;
        background: var(--static-white);
        z-index: 2;
    }

    &__info {
        width: 50%;
        border-radius: 20px;
    }

    &__info-wrapper {
        max-width: 426px;
        margin: 100px 0 100px 60px;
    }

    &__name-block {
        padding-top: 60px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: var(--primary);
    }

    h2 {
        margin-top: 20px;
        text-align: left;
        color: var(--dark);
    }

    &__text {
        padding-top: 20px;
        padding-bottom: 60px;
        font-family: var(--font-family);
        font-weight: 400;
        line-height: 148%;
    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}

@media (max-width: 768px) {
    .about__info-wrapper {
        max-width: 256px;
        margin: 46px 0 100px 60px;
    }
}

@media (max-width: 700px) {
    .about__body {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .about__info {
        width: 100%;
    }

    .about__info-wrapper {
        margin: 60px 20px;
        max-width: none;
        display: flex;
        flex-direction: column;
    }

    .about__name-block {
        padding-top: 0;
    }

    .about__text {
        padding-bottom: 0;
    }

    .about__image {
        position: relative;
        width: 100%;
        height: 528px;
        bottom: -6px;
    }
}

