.btn {
    border-radius: 20px;
    width: 235px;
    height: 56px;
    background: var(--dark);

    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
    cursor: pointer;
}
