.header {
    background-color: var(--static-white);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
    }

    .nav__list {
        display: flex;
        column-gap: 8px;
    }
    .nav__item {
        padding: 12px 20px;
        cursor: pointer;

        &:hover {
            border-radius: 12px;
            background: var(--primary-10);
            transition: 0.5s;
        }

        &:hover .nav__link {
            color: var(--primary);
            transition: 0.5s;
        }
    }
    .nav__link {
        font-size: 12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--dark);
    }

    &__burger {
        position: relative;
        width: 40px;
        height: 40px;
        display: none;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            background-color: var(--overlay);
            border-radius: 16px;
        }

        &::before {
            content: '';
            top: 16px;
            left: 25%;
        }

        &::after {
            content: '';
            top: 22px;
            left: 25%;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__burger {
            display: block;
        }
    }

    .nav {
        display: none;
    }

}
